<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Small</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <a><img src="/img/logo.png" width="150px" /></a>
        <ul class="main-list">
            <li>
                <a href="/">Home</a>
            </li>
            {{#if loggedIn}}
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
            {{else}}
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Sign Up</a>
            </li>
            {{/if}}

        </ul>
    </div>
    {{{body}}}
</body>

</html>