<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Small</title>
</head>

<body>
    <div style="display: flex;">
        <a>Logo</a>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/login">Login</a>
                <a href="/register">Sign Up</a>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    {{{body}}}
</body>

</html>