<h1>Dashboard</h1>
<div>
    {{#each posts}}
        <div>
            <span >{{title}}</span>
            <span>{{likes}}</span>
            <span>{{createdAt}}</span>
        </div>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>