<h1>Create</h1>

<input type="text" value="{{post.title}}" placeholder="title" />
<input type="text" value="{{post.content}}" placeholder="content" />
<button id="{{post.id}}">Save</button>

<script src="/js/edit.js"></script>