<div class="login">
    <div>
        <h1>Login</h1>
        <p>Don't have an account yet? Sign up <a href="/register">here</a></p>
    </div>
    <form>
        <div>
            <div>
                <label>Email address</label>
                <input type="email" id="email" required placeholder="email@example.com" />
            </div>
        </div>
        <div>
            <div>
                <label>Password</label>
                <input type="password" id="password" required placeholder="Enter 6 characters or more" />
            </div>
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</div>
<script src="/js/login.js"></script>