<h1>Login</h1>
<form>
    <input type="email" id="email" required placeholder="email" />
    <input type="password" id="password" required placeholder="password" />
    <input type="submit" />
</form>

<script src="/js/login.js"></script>