:root {
    --bg-main: #C9EFC7;
    --bg-foreground: #ddfcdb;
    --fg-main: #454545;

}

* {
    color: black;
    margin: 0px;
}

.main-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.main-list a{
    color:#623e3e;
    font-size: 1.5pc;
    padding-left: 10px;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.main {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-main);
}

.home-list>ul>li, .dashboard-list>ul>li, .single-post {
    padding: 25px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    border-radius: 7pc;
    box-shadow: inset -6px -7px 16px 10px #cfd4d2;
}
.home-list>ul>li:hover, .dashboard-list>ul>li:hover {
    background-color: #f5f6f8;
}
.home-list ul, .dashboard-list ul, .dashboard-title, .single-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.home-list, .dashboard-list {
    background-color: #e6ece7;
}

button,
input[type=button], input[type=submit] {
    padding: 20px;
    background-color: var(--bg-main);
    border-radius: 4pc;
    cursor: pointer;
    color: #623e3e;
}
button:hover, input[type=button]:hover, input[type=submit]:hover{
    background-color: var(--bg-foreground);
}

h2 {
    font-size: 2.1pc;
    text-decoration: none;
    text-align: center;
}

li div a {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul li div {
    text-align: center;
}

span {
    font-size: 1.2pc;
    font-weight: 500;
}

.post-details{
    color:#888;
    font-size: 1pc;
}
.dashboard-title a{
    padding: 20px;
    background-color: var(--bg-main);
    border-radius: 4pc;
    cursor: pointer;
    text-decoration: none;
    color: #623e3e;
    width: 15vw;
    text-align: center;
}

.dashboard-title a:hover{
    background-color: var(--bg-foreground);
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}
.post{
    display: flex;
    padding: 30px;
}
.content{
    box-shadow: 18px 20px 18px 1px #dfede7;
    width: 70vw;
    margin:20px;
    background-color: whitesmoke;
}
.content:hover{
    box-shadow: 18px 20px 18px 1px #e1e1e1;
}

form input{
    width: 40vw;
    height: 5vh;
    border-radius: 10px;
}
input[type=submit]{
    height: 7vh;
}
.login, .signup, .create-post{
    box-shadow: 18px 20px 18px 1px #dfede7;
    margin: 150px;
    text-align: center;
    padding: 20px 0 40px 0;
    background-color: whitesmoke;
}
.like{
    width: 10vw;
}
.login p, label, .signup p{
    color: #c1bdbd;
}
form > div{
    margin-top: 10px;
}

form div{
    display: flex;
    justify-content: center;
}

form div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
::placeholder {
    color: #c1bdbd;
    opacity: 1; /* Firefox */
  }